<div class="container-fluid" id="embed-container">

  <div class="row">
      <div class="col-md-2">
      </div>
      <!-- Main Content -->
      <div class="col-md-10">
          <div class="row">
              <p class="display-7 text-dark">Welcome</p>
              <br>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <!-- Column -->
                      <div class="col-md-4">
                          <div class="card card-hover">
                              <div class="box bg-cyan text-left" style="min-height: 8rem;">
                                  <h2 class="text-white">
                                      <p>Sharif Rifat</p>
                                  </h2>

                              </div>
                          </div>
                      </div>

                      <!-- Column -->
                      <div class="col-md-2 ">

                          <div class="card card-hover">
                              <!--  <a class="navbar-brand" href="#"> -->
                              <a href="/Chapter/index?name=Executive">
                                  <div class="box bg-inverse text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Executive</h4>
                                      <img src="assets/resources/strum/Executive.svg" class="icon">
                                  </div>
                              </a>
                              <!--  </a> -->
                          </div>

                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Loans">
                                  <div class="box bg-dark text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Loans</h4>
                                      <img src="assets/resources/strum/Loans.svg" class="icon">
                                  </div>
                              </a>
                          </div>
                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Deposits">
                                  <div class="box bg-danger text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Deposits</h4>
                                      <img src="assets/resources/strum/Deposits.svg" class="icon">
                                  </div>
                              </a>
                          </div>
                      </div>

                  </div>

                  <div class="row">
                      <!-- Column -->
                      <div class="col-md-2 ">
                          <div class="card card-hover">
                              <div class="box bg-success" style="min-height: 8rem;">
                                  <div class="row">
                                      <div class="col-md-8 ">
                                          <div class="text-left ">
                                              <h3 class="text-white">
                                                  <p>Thursday June</p>
                                              </h3>
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="text-right ">
                                              <h3 class="text-white">
                                                  <p>20</p>
                                              </h3>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!-- Column -->
                      <div class="col-md-2">

                          <div class="card card-hover">
                              <!--  <a class="navbar-brand" href="#"> -->
                              <div class="box bg-info text-center" style="min-height: 8rem;">
                                  <h4 class="text-white">Last Data Sync</h4>
                                  <img src="assets/resources/strum/Refresh.svg" class="icon">
                                  <h6 class="text-white">10/31/2022</h6>
                              </div>
                              <!--  </a> -->
                          </div>

                      </div>                        
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Sales">
                                  <!--  <a class="navbar-brand" href="#"> -->
                                  <div class="box bg-info text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Sales</h4>
                                      <img src="assets/resources/strum/Sales.svg" class="icon">
                                  </div>
                              </a>
                              <!--  </a> -->
                          </div>

                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Segmentation">
                                  <div class="box bg-danger text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Segmentation</h4>
                                      <img src="assets/resources/strum/Segment.svg" class="icon">
                                  </div>
                              </a>
                          </div>
                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Churn">
                                  <div class="box bg-warning text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Churn</h4>
                                      <img src="assets/resources/strum/Churn.svg" class="icon">
                                  </div>
                              </a>
                          </div>
                      </div>

                  </div>

                  <div class="row">
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                             <a href="/ReportsCenter/index">
                                  <div class="box bg-info text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Report Center</h4>
                                      <i class="icon fa fa-file text-white fa-5x"> </i>
                                  </div>
                              </a> 
                          </div>

                      </div>
                      <!-- Column -->
                      <div class="col-md-2">

                          <div class="card card-hover">
                              <a href="#" onclick="$root.memberUtility.showMemberListUi();">
                                  <!--  <a class="navbar-brand" href="#"> -->
                                  <div class="box bg-warning text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Member Lists</h4>
                                      <img src="assets/resources/strum/contactlist.svg" class="icon">
                                  </div>
                              </a>
                              <!--  </a> -->
                          </div>

                      </div>
                      <!-- Column -->
                      <div class="col-md-2">

                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Profitability">
                                  <!--  <a class="navbar-brand" href="#"> -->
                                  <div class="box bg-success text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Profitability</h4>
                                      <img src="assets/resources/strum/Profit.svg" class="icon">
                                  </div>
                              </a>
                              <!--  </a> -->
                          </div>

                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <a href="/Chapter/index?name=Branches">
                                  <div class="box bg-warning text-center" style="min-height: 8rem;">
                                      <h4 class="text-white">Branches</h4>
                                      <img src="assets/resources/strum/Branch.svg" class="icon">
                                  </div>
                              </a>
                          </div>
                      </div>
                      <!-- Column -->
                      <div class="col-md-2">
                          <div class="card card-hover">
                              <div class="box bg-danger text-center" style="min-height: 8rem;">
                                  <h4 class="text-white">Competition</h4>
                                  <img src="assets/resources/strum/Branch_.svg" class="icon">

                              </div>
                          </div>
                      </div>

                  </div>
              </div>


          </div>

          <div class="row">
              <div class="col-md-5">
              </div>
              <div class="col-md-5 text-right">
                  <img src="assets/resources/image.png" width="100%" title="">
              </div>
              <div class="col-3">
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent comment and chats -->
  <!-- ============================================================== -->
</div>