<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" id="side-menu">
            <li class="treeview" id="side-menu-Home">
                <a href="/Home" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Home</span>
                </a>
            </li>
            <!-- <li class="treeview" id="side-menu-CampaignList">
                <a href="/Campaigns" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Campaign List</span>
                </a>
            </li>
            <li class="treeview" id="side-menu-CampaignCostManager">
                <a href="/Campaigns" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Campaign Cost Manager</span>
                </a>
            </li> -->
            <li class="treeview" id="side-menu-ReportCenter">
                <a href="/ReportsCenter" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Report Center</span>
                </a>
            </li>
            <li class="treeview" id="side-menu-Executive">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Executive</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/Executive/true"> Period </a></li>
                    <li><a href="/Chapter/Executive/false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Loans">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Loans</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/Loans/true"> Period </a></li>
                    <li><a href="/Chapter/Loans/false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Deposits">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Deposits</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/Deposits/true"> Period </a></li>
                    <li><a href="/Chapter/Deposits/false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Sales">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Sales</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/Sales/true"> Period </a></li>
                    <li><a href="/Chapter/Sales/false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Segmentation">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Segmentation</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/Segmentation/true"> Period </a></li>
                    <li><a href="/Chapter/Segmentation/false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Personas">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Personas</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Persona/PersonaSummary"> Period </a></li>
                    <li><a href="/Persona/Builder"> Builder </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Churn">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Churn</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/index?name=Churn"> Period </a></li>
                    <li><a href="/Chapter/index?name=Churn&amp;isPeriod=false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Profitability">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Profitability</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/index?name=Profitability"> Period </a></li>
                    <li><a href="/Chapter/index?name=Profitability&amp;isPeriod=false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Branches">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Branches</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/index?name=Branches"> Period </a></li>
                    <li><a href="/Chapter/index?name=Branches&amp;isPeriod=false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-ChannelUsage">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Channel Usage</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Chapter/index?name=Channel_Usage"> Period </a></li>
                    <li><a href="/Chapter/index?name=Executive&amp;isPeriod=false"> Trends </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-Competition">
                <a href="/#" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Competition</span>
                </a>
            </li>
            <li class="treeview" id="side-menu-Marketing">
                <a href="javascript: void(0);" class="has-arrow menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Marketing</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Marketing/CampaignList"> Campaign List </a></li>
                    <li><a href="/Marketing/ManageCampaignCosts"> Campaign Cost Manager </a></li>
                </ul>
            </li>
            <li class="treeview" id="side-menu-StrumMA">
                <a href="/StrumMA/index" class="menu-link waves-effect">
                    <i class="fa fa-fw fa-bank"></i>
                    <span>Strum MA</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
