.page-breadcrumb{
    height: 45px;
    padding: 10px 20px 5px 20px;
    background-color: #737f8e;
}
.btn-dark{
    margin-right: 5px;
    padding: 5px;
    color: white;
    background-color: #2b3041;
}
ul {
    list-style-type: none;
}