<div class="page-breadcrumb">
    <div class="row ">
        <div class="col-sm-2 d-flex no-block align-items-center">
            <h4 class="text-white">Activity Center</h4>
           
    
        </div>
        <div class="col-sm-7">
            <div class="text-right" style="height:35px; float:right; ">
                <div>
                    <div style="float:right">
                        <button type="button" style="position:relative;text-align: right;"  class="btn btn-dark btn-sm custbtnsize">Filter</button>
                        <button type="button" class="btn btn-dark btn-sm custbtnsize"  >Reset Filters</button>
                        <button type="button" class="btn btn-dark btn-sm custbtnsize" >Insights</button>
                        <button type="button" class="btn btn-dark btn-sm custbtnsize" >List Manager</button>
                        <a href="ReportsCenter" type="button" class="btn btn-dark btn-sm custbtnsize">Report Center</a>
                    </div>
                    <div class="btn-dark btn-sm" style="float:right; margin-right:-5px; padding:5px;">
                        <ul class="navbar-nav float-right" style="position:relative; border-right: 1px solid silver; padding-right: 5px;">
                            <li class="nav-item dropdown">
                                <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/" style="padding:0px !important;height: 20px;">
                                    <!--<i class="far fa-bell"></i>-->
                                    <i class="fa fa-filter" style="color:#ffffff"></i>
                                    5
                                </button>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-right mailbox w-100" style="max-height: 250px; min-width:280px; overflow: auto;background-color: rgb(255, 255, 255);margin-top: 0px;">
                                    <table class="table table-sm" style="width: 100%;">
                                        <tr>
                                            <td>Acc.name is Blue</td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="col-sm-3" >
            <div class="row" style="margin-bottom: 0px;">
                <div class="col-md-12 text-right">
                    <label class="text-white">Data Period</label>
                    <select id="SelectedDataPeriod" class="select2  custom-select" style="width: 40%; height:20px;" >
                        <option selected="selected" value="Abc">As of 2024-04-23</option>
                        <option value="Abc">As of 2024-04-23</option>
                        <option value="Abc">2024-02-30</option>
                        <option value="Abc">2024-02-30</option>
                        <option value="Abc">2024-02-30</option>
                    </select>
                </div>
            </div>
        </div>
        
    </div>
</div>
